body {
  background-color:  hsl(185, 75%, 39%);
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-position: top left , bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 400px,400px;
  padding: 0; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  /*design size for profile card*/
.profile-card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 200px auto;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
  /*design for the profile card background image*/
.profile-background-image {
  background-image: url('./images/bg-pattern-card.svg');
  background-size: cover;
  height: 100px;
}
  /*design for profile picture*/
.profile-picture {
  position: absolute;
  vertical-align: middle;
  top: 50px;
  left: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
}
  
.profile-picture img {
  width: 80px; 
  height: 80px; 
}
  
.info {
  font-size: 18px;
  text-align: center;
}

.age{
  font-size: 20px;
  font-weight: 200;
  color: hsl(227, 10%, 46%);
}
/*design for profile info */
.profile-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
p {
  color: hsl(0, 0%, 59%);
  font-size: 15px;
  margin: 0;
}
h2 {
color: hsl(229, 23%, 23%);
font-size: 18px;
margin: 0;
}
.attribution { 
  font-size: 10px;
  text-align: center;
}
.attribution a { 
  color: hsl(0, 0%, 100%); 
}
  