@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root{
    --bg-color: #fff;
    --text-color: #000;
    --nav-color: #c4c6ca;
    --header-color: hsl(0, 0%, 40%);
    --body-color: hsl(0, 0%, 64%);
    --nav-hover-color: #fff;
    --nav-hover-text-color: #000;
    --section-color: #f1f3fa;
    --code-color: #a39e9e;
    --code-font: monospace;
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
    display: flex;
}
#navbar{
    background-color: var(--nav-color);
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: auto; 
}
#navbar header{
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
    padding: 10px;
}
nav ul li{
    list-style: none;
    text-align: left;
}
nav ul li a{
    text-decoration: none;
}
.nav-link {
    display: block;
    padding: 10px 5px 5px 0;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: solid 1px ;
}
.nav-link:hover, .nav-link:active {
    background-color: var(--nav-hover-color);
}
#main-doc {
    margin-left: 250px;
    padding: 20px 10px 10px 20px;
}
.main-section {
    margin-bottom: 40px;
}
section{
    display: block;
}
section header {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}
article{
    display: block;
    font-weight: var(--font-regular);
}
article ul li {
    margin-left: 30px;
    /* padding-left: 1%; */
}
code {
    font-family: var(--code-font);
    display: block;
    text-align: left;
    position: relative;
    background-color: var(--code-color);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 340px) {
    #navbar{
        display: flex;
        flex-direction: row;
        height: 200px;
        width: 100vw;
        overflow: scroll;
    }
    main{
        margin: 5%;
        padding: 5px;
    }
}